
<div class="container ">
  <div style="width: 80%;height:100%;padding-top: 5%; margin: 0 auto;">
    <p class="orange-text text-lighten-1 flow-text">Flight Search</p>
    <% if @airports && @dates %>
      <form action="/flights" method="get" data-remote="true" class="form-header col l12 m12 s9 centralize">
        <div class="row">
          <div class="col l5 m12 s12">
            <label>Flight Origin</label>
            <select name="from_airport" id="from_airport" class="browser-default">
              <% @airports.each do |airport|%>
                <option value="<%= airport.id %>"><%= airport.name %></option>
              <% end %>
            </select>
          </div>
          <div class="col offset-l2 l5 m12 s12">
            <label>Flight Destination</label>
            <select name="to_airport" id="to_airport" class="browser-default">
              <% @airports.each do |airport|%>
                <option value="<%= airport.id %>"><%= airport.name %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col l5 m12 s12">
            <label>Departure</label>
            <select name="date" id="date" class="browser-default">
              <% @dates.each do |date|%>
                <option value="<%= date %>"><%= date[-1] %></option>
              <% end %>
            </select>
          </div>
          <div class="col offset-l2 l5 m12 s12">
            <label>No of Passengers</label>
            <select name="passengers" id="passengers" class="browser-default">
              <% @passengers.each do |passenger|%>
                <option value="<%= passenger %>"><%= passenger %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search
            </button>
          </div>
        </div>
      </form>
    <% end %>
  </div>
  <div id="search_result">

  </div>
</div>
