<div class="container">
  <div class="row ">
    <div class="col l12 m12 s12 center" id="search-form">
      <p class="center flow-text">Booking information</p>
      <table class="centered hoverable">
          <thead>
            <tr>
                <th>Flight ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Passengers</th>
                <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= @flight.id%></td>
              <td><%= @flight.from_airport.name %></td>
              <td><%= @flight.to_airport.name %></td>
              <td><%= @flight.start_time.strftime("%d/%m/%Y") %></td>
              <td><%= @flight.start_time.strftime("%H:%m") %></td>
              <td><%= @passenger_number %></td>
              <td>$560.87</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <% passenger_count = 1 %><br/>

  <div class="row">
    <div class="col l8 offset-l2 m12 s12 center" id="booking-form">
      <%= form_for @booking do |booking| %><br/>
        <%= booking.fields_for :passengers do |passenger| %>
          <div class="row">
            <p class="orange-text text-darken-3 center">Passenger <%= passenger_count.to_s%></p>
            <div style="margin-top:20px;">
              <% passenger_count += 1 %>

              <div class="input-field col s10">
                <i class="fa fa-pencil prefix icon-setting"></i>
                <label> Name </label>
                <%= passenger.text_field :name, require:true , placeholder: 'Enter your name' %>
              </div>

              <div class="input-field col s10">
                <i class="fa fa-pencil prefix icon-setting"></i>
                <label> Email </label>
                <%= passenger.text_field :email, require:true, placeholder: 'Enter your email' %>
              </div>

            </div>
          </div>
        <% end %>
        <%= booking.hidden_field :flight_id, value: @flight.id %>

        <div class="col s3 offset-s4 center">

          <button class="col s12 btn waves-effect waves-light center">Book Flight
            <!-- <i class='fa fa-floppy-o'></i> -->
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
