<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <title>AirFlight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper grey darken-2" style="padding-left: 10px">
        <a href="/" class="brand-logo left orange-text"><i class="fa fa-fighter-jet "> TravelNow</i></a>
        <ul class="right">

          <% if current_user %>
            <li>
              <a class="dropdown-button" data-activates="dropdown-user_option" data-beloworigin="true" href="" style="padding:0 20px;">
                <% if current_user.profile_url.present? %>
                  <%= image_tag current_user.profile_url, class: 'profile_pic circle responsive-img' %>
                <% else %>
                  <%= image_tag 'defaultimage.jpeg', class: 'left profile_pic circle responsive-img' %>
                <% end %>
                <%= current_user.first_name.split(' ')[0] %>
                <i class=" our-fa-caret-down fa fa-caret-down" style="margin-left: 4px; font-size: 15px; float: right;"></i>
              </a>
            </li>

            <ul class="dropdown-content right" id="dropdown-user_option">

              <li><%= link_to "Logout", signout_path, data: {no_turbolink: true}, class: "our-dropdown-content" %></li>
              <li><%= link_to "Past Bookings", users_show_path, data: {no_turbolink: true}, class: "our-dropdown-content" %></li>
            </ul>
          <% else %>
          <li>
            <%= link_to "#login_modal", class: "modal-trigger btn_a_tag", data: { target: "login_modal", no_turbolink: true} do %>
              <%= "#{content_tag :i, '', class: "fa fa-lock white_text left  hide-on-small-only"} Log In".html_safe %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <% if flash[:notice].present? %>
      <div>
        <script type="text/javascript">
            Materialize.toast("<%= flash[:notice].to_s %>", 3000, 'rounded')
        </script>
      </div>
    <% end %>

    <%= yield %>
    <%= render partial: 'layouts/login_modal'%>
  </main>

  <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <p class="orange-text text-lighten-3" >© 2015 Copyright, Made with
          <i class="connect-icon mdi-action-favorite red-text"> </i> by Kay
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
